<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            body{
                background-attachment:fixed;
                background-size:cover;
            }
        </style>
    </head>
    <body>
        <div style="text-align:center">
            <h1 style="color:black">欢迎{{username}}使用接口测试平台</h1>
            {#这里放超级传送门#}
        </div>
        <div style="position:absolute;bottom:5px;right:5px">
            <textarea id="tucao_input" cols="30" rows="10" placeholder="匿名吐槽专用"></textarea>
            <br>
            <button onclick="pei()">留言</button>
        </div>
        <script>
            function pei(){
                $.get("/pei/",{"tucao_text":document.getElementById("tucao_input").value},function(ret){
                    alert("留言成功")
                })
            }
        </script>
    </body>
</html>